@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;  /* Prevent scrolling on the entire page */
  height: 100%;
  width: 100%;
}

.p-tooltip-right {
  margin-left: 1.25rem; /* Default is ~0.25rem; Moves tooltip outside Dock*/
}

.p-menubar {
    border-radius: 0 0 1rem 1rem !important; /* Only round the bottom corners of the Menu Bar. */
}